/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, h3, p, ul, li, select, input, button {
    margin: 0;
    padding: 0;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    max-width: 130px; /* Tamanho máximo do logotipo */
    border-radius: 50%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

/* Estilo da sub-cabeçalho */
.sub-header {
    background-image: url('/image/Logo.png'); /* Imagem de fundo da sub-cabeçalho */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #030000;
    padding: 100px 0;
}

.sub-header h1 {
    font-size: 36px;
    margin-top: 10px;
}

/* Estilo dos campos de busca */
.container-inputs {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

select,
input {
    margin-bottom: 10px;
    padding: 10px;
}