/* Arquivo dashboard.css */

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo do cabeçalho */
.dashboard-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header h1 {
    margin: 0;
}

.dashboard-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-header nav ul li {
    display: inline;
    margin-right: 20px;
}

.dashboard-header nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilo do conteúdo principal */
.dashboard-content {
    padding: 20px;
}

/* Estilo dos detalhes da conta */
.account-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.account-details h2 {
    margin-top: 0;
}

/* Estilo da lista de animais de estimação */
.pet-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.pet-list ul li {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.pet-card img {
    width: 100%;
    height: auto;
}

.pet-card h3 {
    margin: 10px 0;
}

/* Estilo do rodapé */
.dashboard-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para a mensagem de sucesso */
.success-message {
    background-color: #4570fc; /* Cor de fundo verde */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno para a mensagem */
    text-align: center; /* Alinhamento centralizado do texto */
    position: fixed; /* Fixa a mensagem na parte superior da tela */
    top: 0; /* A mensagem fica no topo da tela */
    left: 0; /* A mensagem fica à esquerda da tela */
    width: 100%; /* Largura total */
    z-index: 9999; /* Aumenta a prioridade sobre outros elementos */
    display: block; /* Altere "none" para "block" ou outra propriedade de exibição desejada */
}
